{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Submit Review{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh; padding-top: 80px; padding-bottom: 60px;">
    <div style="width: 500px; padding: 20px; background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div style="text-align: center; margin-bottom: 20px;">
            <h2>Submit Review</h2>
        </div>
        <form method="post" action="{% url 'review' doctor.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit Review</button>
        </form>
        
    </div>
</div>
{% endblock %}
