asgiref
asttokens
audioread
axios
Brotli
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cssselect2
cycler
debugpy
decorator
defusedxml
dj-database-url
Django
django-allauth
django-cors-headers
django-crispy-bootstrap
django-crispy-forms
django-environ
django-filter
djangorestframework
exceptiongroup
executing
fonttools
html5lib
idna
imageio
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
lazy_loader
librosa
llvmlite
lxml
markdown-it-py
matplotlib
matplotlib-inline
mdurl
msgpack
mysqlclient
nest-asyncio
networkx
numba
numpy
oauthlib
opencv-python
packaging
pandas
parso
pillow
platformdirs
pooch
prompt-toolkit
psutil
psycopg2
psycopg2-binary
pure-eval
pycparser
pydyf
Pygments
PyJWT
pyparsing
pyphen
python-dateutil
python-decouple
python3-openid
pytz
pywin32
pyzmq
requests
requests-oauthlib
rich
scikit-image
scikit-learn
scipy
six
soundfile
soxr
sqlparse
stack-data
threadpoolctl
tifffile
tinycss2
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
weasyprint
webencodings
whitenoise
zopfli